#login {
    padding: 50px;
}

footer {
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 979px) {
  body {
    padding-top:60px;
  }
}

/* Ideas */
#ideaform textarea {
  height: 150px;
}

#ideaform-span {
  padding: 15px 15px 15px 15px;
  background-image: linear-gradient(to bottom,white,#F2F2F2);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #D4D4D4;
}

.idearow {
  margin-bottom:20px;
}

.idea {
  padding: 15px 15px 5px 15px;
  background-image: linear-gradient(to bottom,white,#F2F2F2);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #D4D4D4;
}

.ideaname {
  color:#35CDDD;
}

/* Schedule */
td.time {
  width: 70px;
  padding-right: 10px;
  text-align: right;
}

td span.bold {
  margin-right: 8px;
}

