/* Global */
#login {
  padding: 50px;
}

footer {
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

.blue {
  color:#35CDDD;
}

.darkblue {
  color:#049CAD;
}

.box {
  padding: 15px 15px 15px 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #D4D4D4;
}

.navbar .nav > li > a {
  padding: 12px 15px;
}

@media only screen and (min-width: 979px) {
  body {
    padding-top:60px;
  }
}


/* Ideas */
#ideaform textarea {
  height: 150px;
}

#ideaform-span {
}

.idearow {
  margin-bottom:20px;
}

.idea {
  padding-bottom:5px;
}

.ideaname {
}

#ideaterms {
  color: gray;
  margin-top: 15px;
}

/* Schedule */
td.time {
  width: 70px;
  padding-right: 10px;
  text-align: right;
}

td span.bold {
  margin-right: 8px;
}

