{% extends "base.html" %}

{% block title %}Tufts Hackathon 2013{% endblock %}

{% block main %}
<div class="row">
  <div class="span3" id="ideaform-span">
    <form method="POST" id="ideaform">
      <div class="row">
        <div class="span2">Name</div>
        <div class="span10"><input type="text" name="name"/></div>
      </div>
      <div class="row">
        <div class="span2">Email</div>
        <div class="span10"><input type="text" name="email"/></div>
      </div>
      <div class="row">
        <div class="span2">Idea</div>
        <div class="span10"><textarea name="idea"/>Enter your idea here</textarea></div>
      </div>
      <div class="row"><br></div>
      <div class="row">
        <div class="span4"> <input type="submit" class="btn btn-small" value="Submit &raquo;"></div>
      </div>
    </form>
  </div>
  <div class="span8">
    {# {% for idea in ideas %} #}
    <div class="row idearow">
      <div class="span3 idea">
        <p> Create a way to track the Joey using the stars and their trajectory
        from the cannon. If paint drips on the third lumen, we know the joey is
        near arrival. Tie this to an app with a mobile social api that allow
        users to drip lumen paint from their nose.</p>
        <p class="ideaname"> Submited by Marshall Moutenot </p>
        {# <p> {{ idea.idea }} </p> #}
        {# <p> {{ idea.name }} </p> #}
      </div>
      <div class="span3 idea">
        <p> Create a way to track the Joey using the stars and their trajectory
        from the cannon. If paint drips on the third lumen, we know the joey is
        near arrival. Tie this to an app with a mobile social api that allow
        users to drip lumen paint from their nose.</p>
        <p class="ideaname"> Submited by Marshall Moutenot </p>
        {# <p> {{ idea.idea }} </p> #}
        {# <p> {{ idea.name }} </p> #}
      </div>
    </div>
    <div class="row idearow">
      <div class="span3 idea">
        <p> Create a way to track the Joey using the stars and their trajectory
        from the cannon. If paint drips on the third lumen, we know the joey is
        near arrival. Tie this to an app with a mobile social api that allow
        users to drip lumen paint from their nose.</p>
        <p class="ideaname"> Submited by Marshall Moutenot </p>
        {# <p> {{ idea.idea }} </p> #}
        {# <p> {{ idea.name }} </p> #}
      </div>
      <div class="span3 idea">
        <p> Create a way to track the Joey using the stars and their trajectory
        from the cannon. If paint drips on the third lumen, we know the joey is
        near arrival. Tie this to an app with a mobile social api that allow
        users to drip lumen paint from their nose.</p>
        <p class="ideaname"> Submited by Marshall Moutenot </p>
        {# <p> {{ idea.idea }} </p> #}
        {# <p> {{ idea.name }} </p> #}
      </div>
    </div>
    <div class="row idearow">
      <div class="span3 idea">
        <p> Create a way to track the Joey using the stars and their trajectory
        from the cannon. If paint drips on the third lumen, we know the joey is
        near arrival. Tie this to an app with a mobile social api that allow
        users to drip lumen paint from their nose.</p>
        <p class="ideaname"> Submited by Marshall Moutenot </p>
        {# <p> {{ idea.idea }} </p> #}
        {# <p> {{ idea.name }} </p> #}
      </div>
      <div class="span3 idea">
        <p> Create a way to track the Joey using the stars and their trajectory
        from the cannon. If paint drips on the third lumen, we know the joey is
        near arrival. Tie this to an app with a mobile social api that allow
        users to drip lumen paint from their nose.</p>
        <p class="ideaname"> Submited by Marshall Moutenot </p>
        {# <p> {{ idea.idea }} </p> #}
        {# <p> {{ idea.name }} </p> #}
      </div>
    </div>
    <div class="row idearow">
      <div class="span3 idea">
        <p> Create a way to track the Joey using the stars and their trajectory
        from the cannon. If paint drips on the third lumen, we know the joey is
        near arrival. Tie this to an app with a mobile social api that allow
        users to drip lumen paint from their nose.</p>
        <p class="ideaname"> Submited by Marshall Moutenot </p>
        {# <p> {{ idea.idea }} </p> #}
        {# <p> {{ idea.name }} </p> #}
      </div>
      <div class="span3 idea">
        <p> Create a way to track the Joey using the stars and their trajectory
        from the cannon. If paint drips on the third lumen, we know the joey is
        near arrival. Tie this to an app with a mobile social api that allow
        users to drip lumen paint from their nose.</p>
        <p class="ideaname"> Submited by Marshall Moutenot </p>
        {# <p> {{ idea.idea }} </p> #}
        {# <p> {{ idea.name }} </p> #}
      </div>
    </div>
    {# {% endfor %} #}
  </div>
</div>
{% endblock %}
