{% extends "base.html" %}

{% block title %}Tufts Hackathon 2013{% endblock %}

{% block main %}
<div class="row">
  <div class="span3" id="ideaform-span">
    <form method="POST" id="ideaform">
      <div class="row">
        <div class="span2">Name</div>
        <div class="span10"><input type="text" name="name"/></div>
      </div>
      <div class="row">
        <div class="span2">Email</div>
        <div class="span10"><input type="text" name="email"/></div>
      </div>
      <div class="row">
        <div class="span2">Idea</div>
        <div class="span10"><textarea name="idea"/>Enter your idea here</textarea></div>
      </div>
      <div class="row"><br></div>
      <div class="row">
        <div class="span4"> <input type="submit" class="btn btn-small" value="Submit &raquo;"></div>
      </div>
    </form>
  </div>
  <div class="span8">
    {% for idea in ideas %}
      {% set idea_loop = loop %}
      {% if idea_loop.index % 2 == 1 %}
        <div class="row idearow">
          <div class="span3 idea">
            <p> {{ idea.idea }} </p>
            <p class="ideaname">{{ idea.name }}</p>
          </div>
      {% else %}
          <div class="span3 idea">
            <p> {{ idea.idea }} </p>
            <p class="ideaname">{{ idea.name }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
