{% extends "base.html" %}

{% block title %}Tufts Hackathon 2013{% endblock %}

{% block main %}


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="hero-inner">
          <div id="hero-right">
            <h2 id="year">2013</h2>
            <h1>Tufts Hackathon</h1>
            <p>Welcome to the 2nd annual Tufts Hackathon<br>
               Saturday Feb 23rd - 24th</p>
            <a href="http://tuftshackathon2013.eventbrite.com/" id="regbtn" class="btn btn-large " target="_blank">Register &raquo;</a>
          </div>
          <img src="/static/img/floppy.png" id="floppy" class="" alt="floppy disk"/>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row"> <!-- middle three things row -->
        <div class="span4">
          <div class="row">
            <h2 class="row span4">Schedule</h2>
            <table class="row span4" border="0">
              <tr>
                <td class="time darkblue">12:45 pm</td>
                <td class="">Arrive, Check-in</td>
              </tr>
              <tr>
                <td class="time darkblue">1:15 pm</td>
                <td class="">Introductions</td>
              </tr>
              <tr>
                <td class="time darkblue">1:30 pm</td>
                <td class="">Find teams / Get Situated</td>
              </tr>
              <tr>
                <td class="time darkblue">2:00 pm</td>
                <td class="">Workshops and Begin Hacking</td>
              </tr>
              <tr>
                <td class="time darkblue"></td>
                <td class=""><span class="darkblue">2:00 pm</span> Echonest / SendGrid</td>
              </tr>
              <tr>
                <td class="time darkblue"></td>
                <td class=""><span class="darkblue">3:00 pm</span> Twilio / Microsoft</td>
              </tr>
              <tr>
                <td class="time darkblue"></td>
                <td class=""><span class="darkblue">4:00 pm</span> Evernote / Crashlytics</td>
              </tr>
              <tr>
                <td class="time darkblue">5:30 pm</td>
                <td class="">Dinner!</td>
              </tr>
              <tr>
                <td class="time darkblue">6:00 pm</td>
                <td class="">HackHackHackHack</td>
              </tr>
              <tr>
                <td class="time darkblue">12:00 am</td>
                <td class="">Midnight Ice Cream - Thanks GitHub!</td>
              </tr>
              <tr>
                <td class="time darkblue">11:30 am</td>
                <td class="">Move to Sophia Gordon for pitches</td>
              </tr>
              <tr>
                <td class="time darkblue">12:00 pm</td>
                <td class="">Lunch Provided</td>
              </tr>
              <tr>
                <td class="time darkblue">12:15 pm</td>
                <td class="">Pitches begin</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="span4">
          <div class="row span4">
            <h2>Location</h2>
            <p>
              <a href="https://maps.google.com/maps/ms?msid=217729978082058461763.0004d620ed8550446fa48&msa=0" target="_blank">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center=42.407076,-71.120296&zoom=14&size=370x150&markers=size:tiny%7Ccolor:green%7C196+Boston+Ave,Medford,MA+02155&sensor=false"/>
              </a>
            </p>
          </div>
          <div id="address" class="row span4">
            <span class="span2">
              <h5>Hackathon</h5>
              <p>196 Boston Ave<br>Medford, MA 02155</p>
            </span>
            <span class="span2">
              <h5>Pitches</h5>
              <p>Sophia Gordon Hall<br>15 Talbot Ave<br>Tufts University<br>Somerville, MA 02144</p>
            </span>
          </div>
          <div id="socialrow" class="row span4">
            <h2>Social</h2>
            <a href="https://www.facebook.com/events/412615728816180/" target="_blank"><span class="social">Facebook Event</span></a>
            <a href="https://twitter.com/search/realtime?q=%23TuftsHackathon&src=typd" target="_blank"><span class="social">#TuftsHackathon</span></a>
          </div>
        </div>

        <div class="span4">
          <div class="row span4">
            <h2>Prizes</h2>
            <p>Projects begun at the Hackathon can win prizes in these categories</p>
            <p><span class="darkblue">Evernote Grand Prize</span> The best overall project in design, utility, api usage, and originality.</p>
            <p><span class="darkblue">Rookie Prize</span> Best project by a team with a majority freshman and no upperclassmen.</p>
            <p><span class="darkblue">Best use of The Echonest API</span></p>
            <p><span class="darkblue">Best use of Sendgrid</span></p>
            <p><span class="darkblue">Best project for a Microsoft platform</span></p>
            <p><span class="darkblue">Best use of Twilio API</span></p>
            <p><span class="darkblue">Jumbo Prize</span> Best project which benefits the Tufts community.</p>
            <p>And anyone can win the <span class="darkblue">raffles</span>.</p>
          </div>
        </div>
      </div> <!-- end three things row with schedule, etc -->

      <div id="sponsors" class="row">
        <div class="span12">
          <img src="/static/img/sponsors.png"/>
        </div>
      </div>

{% endblock %}
