{% extends "base.html" %}

{% block title %}Tufts Hackathon 2013{% endblock %}

{% block main %}


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="hero-inner">
          <div id="hero-right">
            <h2 id="year">2013</h2>
            <h1>Tufts Hackathon</h1>
            <p>Welcome to the 2nd annual Tufts Hackathon.</p>
            <a href="https://www.hackerleague.org/hackathons/tufts-hackathon-2013" id="regbtn" class="btn btn-large ">Register &raquo;</a>
          </div>
          <img src="/static/img/floppy.png" id="floppy" class="" alt="floppy disk"/>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">

            <div class="row">
            <h2 class="row span12">Schedule</h2>
            <table class="row span12" border="0">
              <tr>
                <td class="time darkblue">12:45 pm</td>
                <td class="">Arrive, Check-in</td>
              </tr>
              <tr>
                <td class="time darkblue">1:15 pm</td>
                <td class="">Introductions</td>
              </tr>
              <tr>
                <td class="time darkblue">1:30 pm</td>
                <td class="">Find teams / Get Situated</td>
              </tr>
              <tr>
                <td class="time darkblue">2:00 pm</td>
                <td class="">Workshops and Begin Hacking</td>
              </tr>
              <tr>
                <td class="time darkblue"></td>
                <td class=""><span class="darkblue">2:00 pm</span> Echonest / SendGrid</td>
              </tr>
              <tr>
                <td class="time darkblue"></td>
                <td class=""><span class="darkblue">3:00 pm</span> Twilio / Microsoft</td>
              </tr>
              <tr>
                <td class="time darkblue"></td>
                <td class=""><span class="darkblue">4:00 pm</span> Evernote / Crashlytics</td>
              </tr>
              <tr>
                <td class="time darkblue">5:30 pm</td>
                <td class="">Dinner!</td>
              </tr>
              <tr>
                <td class="time darkblue">6:00 pm</td>
                <td class="">HackHackHackHack</td>
              </tr>
              <tr>
                <td class="time darkblue">12:00 am</td>
                <td class="">Midnight Ice Cream - Thanks GitHub!</td>
              </tr>
              <tr>
                <td class="time darkblue">11:30 am</td>
                <td class="">Move to Sophia Gordon for pitches</td>
              </tr>
              <tr>
                <td class="time darkblue">12:00 pm</td>
                <td class="">Lunch Provided</td>
              </tr>
              <tr>
                <td class="time darkblue">12:15 pm</td>
                <td class="">Pitches begin</td>
              </tr>
            </table>
          </div>

        </div>
        <div class="span4">
          <h2>Submit an Idea</h2>
          <p>Have an idea which would benefit the Tufts community? See other ideas and suggest your own.</p>
          <p><a class="btn" href="/idea/">Ideas &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Find Teammates</h2>
          <p>To save your spot in the hackathon and find team members, visit our
          hackerleague page!</p>
          <p><a class="btn"
            href="https://www.hackerleague.org/hackathons/tufts-hackathon-2013">Register &raquo;</a></p>
      </div>

{% endblock %}
