{% extends "base.html" %}

{% block title %}Tufts Hackathon 2013{% endblock %}

{% block main %}

  <div id="resources-wrap">
    <div class="row">
      <h2 class=span12">Resources</h2>
    </div>
    <div class="row">
      <div class="span4">
        <h4>Vim</h4>
        <p><a href="http://www.openvim.com/tutorial.html">Introductory in browser Vim tutorial</a></p>
        <p><a href="http://jrmiii.com/attachments/Vim.pdf">Vim command cheat sheet (pdf)</a></p>
      </div>
      <div class="span4">
        <h4>Hack Packs</h4>
        <p><a href="https://github.com/thoughtbot/laptop">Thoughtbot's Install everything you need for Rails development on a mac in one step</a></p>
        <p><a href="https://github.com/pivotal/pivotal_workstation">Pivotal's Get a mac set up with pretty much everything</a></p>
      </div>
      <div class="span4">
        <h4>Front-End Web Development</h4>
        <p><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></p>
        <p><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap - CSS Scaffolding</a></p>
        <p><a href="http://sass-lang.com/">SASS - Make writing CSS suck less</a></p>
        <p><a href="http://bourbon.io/">Bourbon - Mixins for SASS, forget about vendor prefixes</a></p>
      </div>
    </div>
    <div class="row">
    </div>
  </div>

{% endblock %}
